In [13]:
#2020-True
#1900-False
#1600-True
#2008-True
#400-True
#600-False



def isLeap(year):
    if (year %4==0 and year%100!=0) or year %400:
        return True
    return False

isLeap(2009)

True

### Iterators and Generators

In [14]:
def rev_str(my_str):
    length=len(my_str)
    for i in range(length -1,-1,-1):
        yield my_str[i]
        
 #For loop to reverse the string
#output:
#0
#l
#l
#e
#h
for char in rev_str("hello"):
    print(char)

o
l
l
e
h

### List Comprehensions

In [18]:
n=100
sum(list(range(n+1))) #sum of n natural numbers

5050

In [32]:
#Calculate sum of squareroot of n natural numbers

from math import sqrt
def SqrtNNaturalNumbers(n):
    return sum ([sqrt (i) for i in list(range(1,n+1))])

SqrtNNaturalNumbers(10)

22.4682781862041

In [31]:
from math import sqrt
def SqrtNNaturalNumbers(n):
    return sum([sqrt (i) for i in list(range(1,n+1))])

SqrtNNaturalNumbers(10)


def squarelistElements(li):
    return[i**2 for i in li]

squarelistElements(li)

[1, 4, 9, 16, 25, 36]

In [33]:
#Define a function using list comprehension to
#identify all numbers divisible by 9in alist

li=list(range(1,50))

def divisible9LC(li):
    return[i for i in li if i%9==0]
divisible9LC(li)

[9, 18, 27, 36, 45]

In [36]:
li=list(range(1979,2019))

def divisible9LC(li):
    return[i for i in li if (i%4==0 and i%100!=0)or i%400==0]
    
divisible9LC(li)#use this line or below program also same

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [37]:
li=list(range(1979,2019))

def divisible9LC(li):
    return[i for i in li if (i%4==0 and i%100!=0)or i%400==0]
[i for i in li if (i%4==0 and i%100!=0)or i%400==0]

[1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### Maps

Functions and iterators are passed as parameters to Map

In [38]:
#Function to Calculate cubes of all numbers in a list
li=[1,2,3,4,5,6]
def cube(n):
    return n**3



list(map(cube,li))

[1, 8, 27, 64, 125, 216]

In [39]:
li=[1,2,3,4,5,6]
def cube(n):
    return n**3



len(list(map(cube,li)))

6

In [40]:
li=[1,2,3,4,5,6]
def cube(n):
    return n**3



sum(list(map(cube,li)))

441

In [42]:
li=[1,2,3,4,5,6]
def cube(n):
    return n**3
for i in li:
    cube(i)
    
sum([cube(i) for i in li])

441

In [45]:
#Function to convert number into words





def numberToWords(n):
    d1={l:'one',2:'two',3:'three',4:'four'}
    digit =[]
    i=0
    while(n!=0):
        digit[i]= n%10
    
        n=n//10
        i+=1
    
    return digit

numberToWords(12)

NameError: name 'l' is not defined